/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('arka.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    
    backdrop-filter: blur(0px);
    padding: 40px;
    border-radius: 16px;
    text-align: center;
   
    animation: fadeIn 1.5s ease-in-out;
    width: 350px;
}

.logo {
    font-size: 50px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.subtitle {
    font-size: 14px;
    color: #e0e0e0;
    margin: 10px 0 20px 0;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ff0044;
    border-radius: 80px;
    font-size: 16px;
    outline: none;
    background: transform: scale(1.1);
    box-shadow: 0 0 30px #ff0044;
    color: #333;
    transition: 0.3s;
}

input:focus {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 128, 255, 0.6);
}

button {
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 2px solid #ff0044;
    color: #ff0044;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 30px #ff0044;
    width: 70%;
    max-width: 250px;
}

button:hover {
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 20px #ff0044;
    transform: scale(1.1);
}

.hint {
    font-size: 14px;
    color: #e0e0e0;
    margin-top: 20px;
}

.hint a {
    color: #ff0044;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.hint a:hover {
    color: #ff0044;
}

/* Animation for the login box */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}